<launch>
    <include file="$(find hardware)/launch/hardware.launch"></include>
    <param name="hardcoded_sequence_location" value="$(find controls)/src/keyframes.csv" />
    <node pkg="controls" type="play_hardcoded_sequence.py" name="play_hardcoded_sequence" respawn="false" output="screen" />
</launch>