<launch>
    <include file="$(find hardware)/launch/hardware.launch"></include>
    <include file="$(find hardware_interface)/launch/hardware_interface.launch"></include>
    <include file="$(find controls)/launch/policy_control.launch"></include>
    <include file="$(find unity)/launch/visualization.launch"></include>
</launch>