<launch>
    <node pkg="hardware_interface" type="hardware_interface.py" name="hardware_interface" respawn="false" output="screen">
        <!-- The specs for each joint consists of an array of three values : [upper_limit, lower_limit, direction] -->
        <param name="right_shoulder_pitch" type="double" value="[90.0, -90.0, 1.0]"/>
        <param name="right_shoulder_roll" type="double" value="[90.0, -90.0, 1.0]"/>
        <param name="right_elbow" type="double" value="[90.0, -90.0, 1.0]"/>
        <param name="left_shoulder_pitch" type="double" value="[90.0, -90.0, 1.0]"/>
        <param name="left_shoulder_roll" type="double" value="[90.0, -90.0, 1.0]"/>
        <param name="left_elbow" type="double" value="[90.0, -90.0, 1.0]"/>
        <param name="left_hip_roll" type="double" value="[90.0, -90.0, 1.0]"/>
        <param name="left_hip_pitch" type="double" value="[90.0, -90.0, 1.0]"/>
        <param name="left_knee" type="double" value="[90.0, -90.0, 1.0]"/>
        <param name="right_hip_roll" type="double" value="[90.0, -90.0, 1.0]"/>
        <param name="right_hip_pitch" type="double" value="[90.0, -90.0, 1.0]"/>
        <param name="right_knee" type="double" value="[90.0, -90.0, 1.0]"/>
        
    </node>
</launch>
